<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Action Replico Server</title>
    <!-- Include Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-indigo-200">
    <div class="flex flex-col items-center justify-center h-screen">
      <h1 class="text-4xl font-bold mb-4 text-gray-800">
        Action Replico Server
      </h1>
      <div class="mb-8">
        <a
          href="http://localhost:3000"
          target="_blank"
          class="bg-indigo-700 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded-full transition"
          >Ping Client</a
        >
      </div>
      <div class="space-y-3">
        <a
          href="http://localhost:5000/api/v1/users"
          class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded transition"
          >Users Data</a
        >
        <a
          href="http://localhost:5000/api/v1/team"
          class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded transition"
          >Team members</a
        >

        <a
          href="http://localhost:5000/api/v1/classify"
          class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded transition"
          >Classify</a
        >
      </div>
    </div>
  </body>
</html>
